a.navbar-brand {
    color: white !important;
    font-weight: 700;
    font-size: 30px;
    margin-top: 16px;
}
a.navbar-brand:hover {
    color: #101990 !important;
}
.navbar-inverse {
    background-color: #07671b;
    border: none;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fbfbfb;
    font-size: 17px;
}
.header-socials {
    margin-top: 34px;
}
.fa-facebook {
    color: white;
    font-size: 20px;
    margin-left: 43px;
}
.fa-twitter, .fa-github, .fa-instagram {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
.header-socials .fa-facebook:hover, .header-socials .fa-twitter:hover, .header-socials .fa-github:hover, .header-socials .fa-instagram:hover {
    color: #101990 !important;
}
.navbar-right {
    float: right !important;
    margin-right: -15px;
    margin-top: -39px !important;
    /* margin-bottom: 19px; */
}
ul.nav.navbar-nav {
    margin: 17px 50px 17px 50px;
}
ul.dropdown-menu {
    background: #169c32;
}
.dropdown-menu>li>a {
    color: #fff;
    font-size: 16px;
}
.dropdown-menu>li>a:hover {
    background-color: #169c32;
    font-size: 17px;
    color: #101990;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #07671b;
    border-radius: 30px;
}
.navbar-nav>li>a:hover {
    color: #fff;
    background-color: #0a6f1f !important;
    border-radius: 30px;
}


.jumbotron {
    margin-top: 83px;
    background-color: #07671b;
    height: 50vh;
}
.col-lg-6.col-m-6.col-sm-12 h2 {
    color: white;
    font-size: 40px;
    padding: 35px;
    font-2: 500;
    font-weight: 500;
}
h2 {
    text-align: center;
}

.first-content h2 {
    color: #101990;
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 30px;
}
.panel-default {
    border: none;
}
.panel {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.panel h3 {
    font-size: 17px;
    text-align: center;
    color: #07671b;
}
.panel p {
    text-align: center;
    margin-top: 24px;
    line-height: 2rem;
    font-size: 16px;
    color: #908f8f;
}
.fa-lightbulb-o:before {
    content: "\f0eb";
    font-size: 100px;
    /* text-align: center !important; */
    color: #07671b;
    margin-left: 130px;
}
.row.nig-dev-section {
    background: #07671b;
    padding: 50px 10px;
}
.nig-dev-section h2 {
    color: white;
    margin-bottom: 91px;
    font-size: 35px;
    font-weight: 500;
}
.nig-dev-section p {
    margin: 0 0 10px;
    margin-left: 160px;
}
.btn-primary {
    color: #fff;
    background-color: #101990;
    border-color: #101990;
}
.sponsor {
    /* background: #07671b; */
    padding: 50px 10px;
}
.sponsor h2 {
    color: #07671b;
    margin-bottom: 91px;
    font-size: 35px;
    font-weight: 500;
}
.nig-dev-section p {
    margin: 0 0 10px;
    margin-left: 160px;
}
.sponsor p {
    margin: 0 0 10px;
    margin-left: 530px;
}
footer {
    padding: 30px 10px;
    background: #07671b;
}
footer h2 {
    color: white;
    font-size: 40px;
}
footer a {
    color: white;
    /* text-align: center; */
}
.row.footer-links {
    margin-top: 80px;
}
footer span {
    font-size: 16px;
    color: #8c8888;
}
h3.community, h3.meetup, h3.hangouts, h3.team {
    margin-left: 35px;
}
p.footer-copyright {
    text-align: center;
    margin-bottom: 100px;
    color: white;
    font-size: 20px;
}
span.copyright {
    font-size: 20px;
    color: white;
}